<img src="/assets/images/logo_horizontal.png" class="img-responsive logo-footer">

<div class="text-center footer-copyright">
    Copyright &copy; 2013-2020 Insane Driver
</div>

<ul class="nav scroll-top">
    <li>
        <a href="#" title="Scroll to top" class="top-link">
            <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
    </li>
</ul>