<nav class="text-center">
    <strong>
        <a href="/">HOME</a> &nbsp; | &nbsp;
        <a href="/band/">BAND</a> &nbsp; | &nbsp;
        <!-- <a href="/dates/">DATES</a> &nbsp; | &nbsp; -->
        <a href="/discography/">DISCOGRAPHY</a> &nbsp; | &nbsp;
        <a href="/videos/">VIDEOS</a> &nbsp; | &nbsp;
        <a href="/photos/">PHOTOS</a> &nbsp; | &nbsp;
        <!-- <a href="/press/">PRESS</a> &nbsp; | &nbsp; -->
        <a href="/store/">STORE</a> &nbsp; | &nbsp;
        <a href="/newsletter/">NEWSLETTER</a>&nbsp; | &nbsp;
        <a href="/contact/">CONTACT</a>
    </strong>
</nav>
