<div class="text-center footer-social">
    <a class="btn btn-social-icon btn-spotify social-footer" target="_blank"
        href="https://play.spotify.com/artist/2ye4AQnKI7zNyOnuLGHaaE" title="Insane Driver on Spotify">
        <i class="fa fa-spotify fa-3x"></i>
        <span class="social-text">Insane Driver on Spotify</span>
    </a>
    <a class="btn btn-social-icon btn-vk social-footer" target="_blank"
        href="https://www.youtube.com/user/insanedriverofficial" title="Insane Driver on YouTube">
        <i class="fa fa-youtube fa-3x"></i>
        <span class="social-text">Insane Driver on YouTube</span>
    </a>
    <a class="btn btn-social-icon btn-instagram social-footer" target="_blank"
        href="https://www.instagram.com/insanedriverid/" title="Insane Driver on Instagram">
        <i class="fa fa-instagram fa-3x"></i>
        <span class="social-text">Insane Driver on Instagram</span>
    </a>
    <a class="btn btn-social-icon btn-facebook social-footer" target="_blank"
        href="https://facebook.com/insanedriverid" title="Insane Driver on Facebook">
        <i class="fa fa-facebook fa-3x"></i>
        <span class="social-text">Insane Driver on Facebook</span>
    </a>
    <a class="btn btn-social-icon btn-twitter social-footer" target="_blank"
        href="https://twitter.com/insanedriverid" title="Insane Driver on Twitter">
        <i class="fa fa-twitter fa-3x"></i>
        <span class="social-text">Insane Driver on Twitter</span>
    </a>
</div>