#page_preorder .prices-form-container {
    display: none;
}

#page_preorder .form-paypal {
    padding: 20px 0;
}

#page_preorder .form-paypal table {
    margin-bottom: 10px;
    font-size: 1.15em;
}

#page_preorder .form-paypal table select {
    margin-top: 5px;
}