#page_preorder .prices-form-container {
    display: none;
}

#page_preorder .form {
    padding: 20px 0;
}

#page_preorder .choose-title {
    font-weight: bold;
    font-size: 1.4em;
    display: block;
    padding-bottom: 5px;
}

#page_preorder label {
    display: block;
    font-weight: 400;
}

#page_preorder input[type="radio"] {
    display: none;
}

#page_preorder input[type="radio"]:checked ~ span {
    border-color: gold;
    background-color: lightgoldenrodyellow;
}

#page_preorder label span {
    padding: 6px 3px;
    display: block;
    border: 1px solid transparent;
    cursor: pointer;
}

#page_preorder .images {
    display:none;
}

.image-container {
    vertical-align: middle;
    padding: 15px;
}

.buy-button-container {
    padding-top: 10px;
}